@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'sass/components/modal';

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {
    &#root {
        padding: 10px;
        width: max(25rem);
        height: min(45em);
        overflow: auto;
        border: 2px solid black;
        border-radius: 15px;
    }
}