@import 'sass/components/modal';
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {
    &#root {
        padding: 10px;
        border-radius: 15px;
        border: 2px solid black;
        width: 400px;
        height: 550px;
    }
}